<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teket</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
</head>
<body>
    <header>
        <nav>
            <h1>teket</h1>
            <ul class="gnb_menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Outerwear</a></li>
                <li><a href="#">Sweatshirts</a></li>
                <li><a href="#">Tees</a></li>
                <li><a href="#">Headwear</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Apartment</a></li>
            </ul>
            <ul class="gnb_signin">
                <li><a href="#">Account</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img src="/images/tv.png" alt="">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/mainbanner1.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/mainbanner2.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/mainbanner3.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/mainbanner4.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/mainbanner5.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="productList_section">
        <h2>what's your TYPE?</h2>
        <div class="products_list">
            <div class="product">
                <img src="./images/product2.jpeg" alt="">
                <span>Summer Hours Knit Vest Blue</span>
                <span>125,000</span>
            </div>
            <div class="product">
                <img src="./images/product1.jpeg" alt="">
                <span>Summer Hours Knit Vest Ivory</span>
                <span>125,000</span>
            </div>
            <div class="product">
                <img src="./images/product4.jpeg" alt="">
                <span>Waffle Vest Brown</span>
                <span>108,000</span>
            </div>
            <div class="product">
                <img src="./images/product5.jpeg" alt="">
                <span>A Blue Tee Green</span>
                <span>55,000</span>
            </div>
            <div class="product">
                <img src="./images/product8.jpeg" alt="">
                <span>Summer Hours Tee Pink</span>
                <span>55,000</span>
            </div>
            <div class="product">
                <img src="./images/product3.jpeg" alt="">
                <span>Memo Tee White</span>
                <span>55,000</span>
            </div>
            <div class="product">
                <img src="./images/product7.jpeg" alt="">
                <span>A Blue Cap Pink</span>
                <span>48,000</span>
            </div>
            <div class="product">
                <img src="./images/product6.jpeg" alt="">
                <span>Pebble Cap Navy</span>
                <span>48,000</span>
            </div>
            <div class="product">
                <img src="./images/product9.jpeg" alt="">
                <span>Summer Hours Cap Green</span>
                <span>48,000</span>
            </div>
        </div>
    </section>
    <footer>
        <i class='bx bxs-upside-down' ></i>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/script/main.js"></script>
</body>
</html>